body {
    background-color: #b9d4d8;
}

.interestContainer {
    position: relative;
}

.headerInterest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .625rem;
    padding: 1.25rem;

    .headerIneterest__h2 {
        font-family: sans-serif
    }
}

.mainInterest {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.25rem;
    position: relative;

    .interest__options {
        background-color: rgba(0, 0, 0, .3);
        width: 25.8125rem;
        height: 10.1875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: .625rem;
        

        button {
            border: none;
            padding: .9375rem;
            border-radius: .625rem;
        }

        .interest_options--edit {
            background-color: rgb(0, 162, 255);
        }
        .interest_options--delete {
            background-color: rgb(255, 0, 55);
        }
        .interest_options--view {
            background-color: yellow;
        }
    }

    &__section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        border: 5px solid #ffbd59;
        border-radius: .625rem;
        padding: .3125rem;
        width: calc((100% - 2 * 1.25rem) / 3 - 1.25rem);


        &--img {
            width: 9.375rem;
            height: 9.375rem;
            border-radius: 100%;
            object-fit: cover;
        }

        &--span {
            background-color: #ffbd59;
            padding: 1.5625rem;
            border-radius: .9375rem;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1.25rem;
        }
    }
}

.createInterestContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0.8125rem;
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
}